body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #ffffff;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem 2rem;
    margin: 2rem auto;
    max-width: 800px;
    border-bottom: 1px solid #000000;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #000000;
    padding-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}

#github-projects {
    margin-top: 1rem;
}

#github-projects .project {
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s;
}

#github-projects .project:hover {
    transform: scale(1.05);
}

#github-projects .project h3 {
    margin: 0.5rem 0;
}

#github-projects .project a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #000000;
    color: #ffffff;
    margin-top: 2rem;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: left;
    padding: 20px 0;
}

.social-icons a {
    color: #333;
    font-size: 2em;
    text-decoration: none;
}

.social-icons a:hover {
    color: #0073e6; /* Change color on hover */
}

/* Remove line between sections */
#projects, #contact {
    border: none; /* Ensure there's no border */
    padding: 20px 0; /* Add padding if needed */
}
